@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo</h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core"> construção de Web apps com ASP.NET Core</a>.</p>
</div>
